/*Date picker should be above top menu*/
.ui-datepicker {
  z-index: 8000 !important;
}

/*Default datatable filter is overkill*/
.datatable-wrapper>.filter {
  display: none;
}

.log-table-filters {
  margin: 30px 0 15px 0;

  .date-range input {
    min-width: 100px;
  }
}

.section-container .content-block {
  margin: 0;
  .content {
    width: 100%;
    .log {
      .grid-row {
        width: 100%;
      }
      .log-browser {

        .header-buttons {
          text-align: right;
        }

        .search-events {
          margin-bottom: 20px;
          label {
            float: right;
          }
        }
        .log-table {

          table td {
            word-wrap: break-word;
            word-break: break-all;
            &:first-child, &:last-child {
              word-wrap: normal;
              word-break: normal;
            }
          }
        }
      }

      .event-viewer {
        margin-left: 20px;

        h3 {
          background-color: $uiClickableDefaultBg;
          padding: 5px 0 5px 15px;
        }

        .desc {
          padding-left: 20px;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
  }
}
