.section-container .content-block {
  margin: 0;
  .content {
    width: 100%;
    .log {
      .grid-row {
        width: 100%;
      }
      .log-browser {
        .search-events {
          margin-bottom: 20px;
          label {
            float: right;
          }
        }
        .log-table table td {
          word-wrap: break-word;
          word-break: break-all;
          &:first-child {
            word-wrap: normal;
            word-break: normal;
          }
        }
      }

      .event-viewer {
        margin-left: 20px;

        h3 {
          background-color: $uiClickableDefaultBg;
          padding: 5px 0 5px 15px;
        }

        .desc {
          padding-left: 20px;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
  }
}
